@charset "utf-8";

@mixin mixin_div_text_base($height:100%,$font-size: 22px){
  height: $height;
  width: 100%;
  .title{
    height: 33%;
    padding-top: 0px;
    width: 100%;
  }
  .number{
    height: 33%;
    width: 100%;
    font-size: $font-size;
    font-weight: normal;
  }
  .message{
    height: 33%;
    width: 100%;
    color: rgba(255,255,255,.6);
    img{
      vertical-align: middle;
      margin: 0 3px;
      height: 10px;
    }
  }
  .color1{
    color: #eeb1fd;
  }
  .color2{
    color: #24c9ff;
  }
  .color3{
    color: #ffff00;
  }
}
@mixin mixin_div_left_top_base($url:url('./img/pulefttop.png')){
  background:$url;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top center;
  width:100%;
  height:100%;
  .title{
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding-top: 15px;
    height: 20px;
    font-weight: normal;
    letter-spacing:2px;
    font-weight:  normal;
    overflow: hidden;
    .span1{  display: inline-block; float: left; width: 40%;}
    .span2{  display: inline-block; float: left; width: 100%;}
  }
  .title2{
    overflow: hidden;
    padding: 0 35px;
    height: 30px;
    line-height: 30px;
    position: relative;
    color: rgba(255,255,255,.6);
  }
  .content{
    padding-left:  calc(2.5% - 5px);
    width: calc(100% - 5% + 10px);
    margin-bottom: 20px;
    height: calc(100% - 60px - 20px);
    .content1{
      width: calc(50% - 10px);
      margin: 0 5px;
      float: left;
      height: 100%;
      background: rgba(1,202,217,.2);
    }
    .content2{
      width: calc(67% - 10px);
      margin: 0 5px;
      float: left;
      height: 100%;
      background: rgba(1,202,217,.2);
    }
    .content3{
      width: calc(33% - 10px);
      margin: 0 5px;
      padding: 3px 0;
      float: left;
      height: calc(100% - 6px);
      background: rgba(1,202,217,.2);
      .contentText{
        @include mixin_div_text_base($height:33%);
      }
      .contentText2{
        @include mixin_div_text_base($font-size: 40px);
      }
    }
    .content4{
      width: calc(100% - 10px);
      margin: 0 5px;
      float: left;
      height: 100%;
      background: rgba(1,202,217,.2);
    }
    .content5{
      width: calc(50% - 10px);
      margin: 5px 5px;
      padding-top: 20px;
      float: left;
      height: calc(50% - 35px);
      background: rgba(1,202,217,.2);
      .contentText2{
        @include mixin_div_text_base($font-size: 40px);
      }

    }
    .content6{
      width: calc(100% - 20px);
      margin: 5px 10px;
      float: left;
      height: calc(100% - 10px);
      background: rgba(1,202,217,.2);

      .contentText2{
        @include mixin_div_text_base($font-size: 40px);
      }
       li{background: rgba(1,202,217,.2) url(./img/icosjx.png) no-repeat  top left; position: relative;overflow: hidden; padding: 8px 11px; color:rgba(255,255,255,.7); line-height: 150%}
       li b{color:rgba(255,255,255,1); font-weight: normal;}
       li p.fl{ width: 200px; overflow: hidden;}
       li p.fr{ position: absolute; right: 10px; top: 9px;}
      .yellow{ color: #fff45c}
      .green{ color: #00c2fd}
       li.bg{ background: rgba(0,255,255,.4) url(./img/icosjx.png) no-repeat  top left;}
      .mrbox_tr_box{background:url(./img/rbox1.png);background-repeat: no-repeat;background-position: -5px -5px; width:354px; height:291px;}
      .text_l{ line-height: 100%; width: 95%; overflow: hidden; padding-left: 10%;text-align:left;background-image: url(./img/hot.png);background-size:12px 12px;background-repeat: no-repeat;}
     .text_r{ text-align: right;  width: 99%;height: 40%;}
    }
  }
}
@mixin mixin_div_left_top1(){
  @include mixin_div_left_top_base($url:url('./img/pulefttop.png'));
}
@mixin mixin_div_left_top2(){
  @include mixin_div_left_top_base($url:url('./img/puleftmidd.png'));
}
@mixin mixin_div_left_top3(){
  @include mixin_div_left_top_base($url:url('./img/pumiddtop1.png'));
}

@mixin mixin_base(){
  font-family: 微软雅黑, MicrosoftYahei, sans-serif;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  background: url(./img/bg.jpg) 0px 0px / 100% 100% no-repeat rgb(0, 6, 91);
  background-position: 0px 0px;
  background-repeat: no-repeat;
  .header{
    height:9%;
    width: 100%;
    display: inline-block;
    .title{
      width: 100%;
      text-align: center;
      padding-top: 16px;
      font-weight: bold;
      letter-spacing: 8px;
      font-size: 36px;
      float: left;
    }
  }
  .main{
    padding-left:2.3%;
    height:  calc(100% - 12%);
    .column1{
      float: left;
      width: 36%;
      text-align: center;
      height:  100%;
      .row1{
        padding-bottom:10px;
        height:  calc(33% - 10px);
        .div_left_top{
          @include mixin_div_left_top1();
        }
      }
      .row2{
        padding-bottom:10px;
        height:  calc(33% - 10px);
        .div_left_top2{
          @include mixin_div_left_top2();
        }
      }
      .row3{
        height:  33%;
        .div_left_top3{
          @include mixin_div_left_top2();
        }
      }
    }
    .column2{
      float: left;
      margin-left: 10px;
      width: 36%;
      text-align: center;
      height:  100%;
      .row1{
        padding-bottom:10px;
        height:  calc(66% - 10px);
        .column_1{
          height:  100%;
          .row_1{
            float: left;width: 50%;height: 100%;
            .div_left_top5{
              @include mixin_div_left_top3();
            }
          }
          .row_2{
            float: left;width: 50%;height: 100%;
            .div_left_top6{
              @include mixin_div_left_top3();
            }
          }
        }
      }
      .row2{
        height:  33%;
        .div_left_top2{
          @include mixin_div_left_top2();
        }
      }
    }
    .column3{
      float: left;
      width: 25%;
      margin-left: 10px;
      text-align: center;
      height:  100%;
      .row1{
        padding-bottom:10px;
        height:  calc(33% - 10px);
        .div_left_top4{
          @include mixin_div_left_top2();
        }
      }
      .row2{
        padding-bottom:10px;
        height:  calc(33% - 10px);
        .div_left_top4{
          @include mixin_div_left_top2();
        }
      }
      .row3{
        height:  33%;
        .div_left_top4{
          @include mixin_div_left_top2();
        }
      }

    }
  }
}

.AssemblyEcharts1{
  @include mixin_base();
}