$big_font: 25px;
$big_title_font: 19px;
$big_input_width:200px;
$big_input_textarea_width:510px;
$big_inputday_width:200px;
$big_input_height:40px;
$big_input_radius:4px;
$big_input_border:1px solid rgba(199,216,255,1);
$big_button_height:40px;
$big_table_line_height:40px;
$big_table_line_padding:0;
$big_table_fontsize:17px;
$big_form_margin-bottom:20px;

$big_leftnav_height:62px;
$big_leftnav_fontsize:21px;
$big_leftnav_fontsizemin:19px;
$big_leftnav_jianju:13px;
$big_leftnav_width:330px;
$big_leftnav_img_width:72px;
$big_leftnav_img_height:37px;

$big_leftnav_fontsize:21px;
$big_leftnav_fontcolor:#333;
$big_leftnav_font-weight:bold;
$big_leftnav_lineheight:62px;
$big_leftnav_icon_color:#0086e1;
$big_leftnav_icon_size:18px;
