$small_font: 14px;
$small_title_font: 13px;
$small_input_width:190px;
$small_input_textarea_width:390px;
$small_inputday_width:190px;
$small_input_height:40px;
$small_input_radius:3px;
$small_input_border:1px solid rgba(199,216,255,1);
$small_button_height:21px;
$small_table_line_height:28px;
$small_table_line_padding:0;
$small_table_fontsize:11px;
$small_form_margin-bottom:18px;

$small_leftnav_width:228px;
$small_leftnav_img_width:50px;
$small_leftnav_img_height:26px;
$small_leftnav_fontsize:14px;
$small_leftnav_fontsizemin:12px;
$small_leftnav_fontcolor:#333;
$small_leftnav_font-weight:bold;
$small_leftnav_lineheight:43px;
$small_leftnav_icon_color:#0086e1;
$small_leftnav_icon_size:13px;


